:host {
    background-color: #bcc0cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;

    box-shadow: 0 0 2px 5px rgba(92, 95, 119, 0.4);
}
