<div id="board">
    <div class="cell" id="cell00" onclick="handleClick(0, 0)"></div>
    <div class="cell" id="cell01" onclick="handleClick(0, 1)"></div>
    <div class="cell" id="cell02" onclick="handleClick(0, 2)"></div>
    <div class="cell" id="cell10" onclick="handleClick(1, 0)"></div>
    <div class="cell" id="cell11" onclick="handleClick(1, 1)"></div>
    <div class="cell" id="cell12" onclick="handleClick(1, 2)"></div>
    <div class="cell" id="cell20" onclick="handleClick(2, 0)"></div>
    <div class="cell" id="cell21" onclick="handleClick(2, 1)"></div>
    <div class="cell" id="cell22" onclick="handleClick(2, 2)"></div>
</div>
